/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100vh - 80px);
    display: flex;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* parte principale destra */

#menu {
    width: 200px;
    height: 100%;
    background-color: black;
    position: relative;
}

#logo-spotify {
    width: 60%;
    margin-top: 20px;
    margin-left: 25px;
}

#bordo {
    border-left: 3px solid #AFFF35;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.icona-home {
    margin: 25px 0 0 20px;
    display: inline-block;
}

.icona-home img {
    filter: invert(0.2);
    vertical-align: middle;
}

.icona-home span {
    color: #CCCCCC;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-cerca {
    margin: 5px 0 0 25px
}

.icona-cerca img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-cerca span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-libreria {
    margin-left: 25px
}

.icona-libreria img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-libreria span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.menu-cerca-libreria {
    width: 20px;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

#playlist {
    color: white;
    text-transform: uppercase;
    margin: 15px 0 10px 25px;
    font-size: 15px;
}

.fa-plus-square {
    color: #A3A3A3;
    font-size: 40px;
    margin: 0 10px 0 25px;
    vertical-align: middle;
}

#crea {
    color: #A3A3A3;
    font-size: 12px;
    font-weight: bold;
}

.lista ul li {
    color: #A3A3A3;
    list-style-type: none;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 12px;
}

/* parte inferiore del menu */

.download {
    width: 85%;
    border-bottom: 1px solid #B2B2B2;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.download img {
    width: 10%;
    filter:invert(0.3);
    vertical-align: middle;
}

#installa {
    color: #B2B2B2;
    font-size: 10px;
}

.profilo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.profilo img {
    width: 20px;
    background-color: #808080;
    vertical-align: middle;
    border-radius: 50%;
}

#john {
    color: white;
    font-weight: bold;
    font-size: 13px;
}



/* parte centrale con album e copertine */

#brani {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
}

/* parte con bottone upgrade */

#upgrade {
    width: calc(100vw - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#bottone {
    background-color: transparent;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
    float: right;
    margin: 20px 5px;
    border: 2px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}

#bottone:hover {
    font-size: 15px;
}

