/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100vh - 80px);
    display: flex;
}

footer {
    height: 80px;
    background-color: #282828;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* parte principale destra */

#menu {
    width: 200px;
    height: 100%;
    background-color: black;
}

#logo-spotify {
    width: 60%;
    margin-top: 20px;
    margin-left: 25px;
}

#bordo {
    border-left: 3px solid #AFFF35;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.icona-home {
    margin: 25px 0 0 20px;
    display: inline-block;
}

.icona-home img {
    filter: invert(0.2);
    vertical-align: middle;
}

.icona-home span {
    color: #CCCCCC;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-cerca {
    margin: 5px 0 0 25px
}

.icona-cerca img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-cerca span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-libreria {
    margin-left: 25px
}

.icona-libreria img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-libreria span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.menu-cerca-libreria {
    width: 30px;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* parte centrale con album e copertine */

#brani {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
}

/* parte con bottone upgrade */

#upgrade {
    width: calc(100vw - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#bottone {
    background-color: transparent;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
    float: right;
    margin: 20px 5px;
    border: 2px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}

#bottone:hover {
    font-size: 15px;
}

