/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100vh - 80px);
    display: flex;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* parte principale destra */

#menu {
    width: 200px;
    background-color: black;
}

.menu-alto {
    height: calc(100vh - 140px);
}

#logo-spotify {
    width: 60%;
    margin-top: 20px;
    margin-left: 25px;
}

#bordo {
    border-left: 3px solid #AFFF35;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.icona-home {
    margin: 25px 0 0 20px;
    display: inline-block;
}

.icona-home img {
    filter: invert(0.2);
    vertical-align: middle;
}

.icona-home span {
    color: #CCCCCC;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-cerca {
    margin: 5px 0 0 25px
}

.icona-cerca img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-cerca span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.icona-libreria {
    margin-left: 25px
}

.icona-libreria img {
    filter: invert(0.5);
    vertical-align: middle;
}

.icona-libreria span {
    color: #404040;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

.menu-cerca-libreria {
    width: 20px;
}

span:hover {
    color: white;
    cursor: pointer;
}

#playlist {
    color: white;
    text-transform: uppercase;
    margin: 15px 0 10px 25px;
    font-size: 15px;
}

.fa-plus-square {
    color: #A3A3A3;
    font-size: 40px;
    margin: 0 10px 0 25px;
    vertical-align: middle;
}

#crea {
    color: #A3A3A3;
    font-size: 12px;
    font-weight: bold;
}

.fa-plus-square:hover, #crea:hover {
    color: white;
    cursor: pointer;
}

.lista {
    height: calc(100vh - 500px);
    overflow-y: scroll;
}

.lista::-webkit-scrollbar {
    display: none;
}

.lista ul li {
    color: #A3A3A3;
    list-style-type: none;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 12px;
}

.lista ul li:hover {
    color: white;
    cursor: pointer;
}

/* parte inferiore del menu */

.download {
    width: 85%;
    border-bottom: 1px solid #B2B2B2;
    margin-left: 20px
}

.profilo {
    margin-left: 20px;
    margin-top: 10px;
}

.download img {
    width: 10%;
    filter:invert(0.3);
    vertical-align: middle;
}

#installa {
    color: #B2B2B2;
    font-size: 10px;
}

#installa:hover {
    color: white;
}

.profilo img {
    width: 20px;
    background-color: #808080;
    vertical-align: middle;
    border-radius: 50%;
}

#john {
    color: white;
    font-weight: bold;
    font-size: 13px;
}



/* parte centrale con album e copertine */

#brani {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

/* parte con bottone upgrade */

#upgrade {
    width: calc(100vw - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#bottone {
    background-color: transparent;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
    float: right;
    margin: 20px 5px;
    border: 2px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}

#bottone:hover {
    font-size: 15px;
}

/* menu di navigazione */

.menu-navigazione {
    width: 50%;
    margin: 90px auto 0;
}

.menu-navigazione ul li {
    color: #565A61;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.menu-navigazione ul li:hover {
    color: white;
    cursor: pointer;
}

#bordo-menu {
    height: 10px;
    width: 30px;
    border-bottom: 2px solid #AFFF35;
    margin: auto;
}

/* album sezione 1 */

h2 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: white;
}

.album {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.copertine {
    width: calc(100% / 6 - 20px);
    text-align: center;
    margin: 0 10px;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 69%;
    width: 100%;
    display: none;
}

.copertine .fa-play {
    position: absolute;
    top: 30%;
    left: 45%;
    color: white;
    font-size: 30px;
    display: none;
}

.copertine:hover .overlay {
    display: block;
}

.copertine:hover .fa-play {
    display: block;
}

.overlay-centro {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 86%;
    width: 100%;
    display: none;
}

.copertine:hover .overlay-centro {
    display: block;
}

.overlay-sotto {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 86%;
    width: 100%;
    display: none;
    border-radius: 50%
}

.copertine:hover .overlay-sotto {
    display: block;
}

.copertine img {
    max-width: 100%;
}

h4 {
    color: white;
    margin-top: 10px;
}

.subtitle {
    color: #676A70;
    font-size: 10px;
}

.suggerimenti {
    color: #6B6E74;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.radius {
    border-radius: 50%;
}

/* footer */

/* sinistra */

.sinistra {
    display: flex;
}

.sinistra img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#titolo-brano {
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}

#artista {
    color: #828282;
    font-size: 12px;
}

.fa-heart {
    margin-left: 30px;
    margin-right: 20px;
}

.fa-heart, .fa-folder {
    width: 20px;
    color: #828282;
    margin-top: 10px;
}

/* centro */

.centro {
    text-align: center;
}

.centro i {
    color: white;
    margin-left: 20px;
    margin-bottom: 5px;
}

.fa-play-circle {
    font-size: 30px;
    vertical-align: middle;
}

.fa-play-circle:hover {
    font-size: 35px;
}

.time {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.riproduzione {
    display: flex;
    justify-content: center;
}

#barra {
    display: flex;
}

#barra-bianca {
    margin-left: 30px;
    width: 40px;
    background-color: white;
    height: 3px;
    align-self: center;
}

#barra-bianca:hover {
    background-color: rgb(0, 160, 0);
    cursor: pointer;
    border: rgb(0, 160, 0);
}

#barra-grigia {
    width: 300px;
    background-color: #5A5A5A;
    height: 3px;
    border: none;
    margin-right: 30px;
    align-self: center;
}

/* destra */

.destra {
    display: flex;
}

.destra i {
    color: white;
    margin-right: 20px
}

#volume {
    display: flex;
}

#parte-bianca {
    width: 20px;
    background-color: white;
    height: 3px;
    align-self: center;
}

#parte-bianca:hover {
    background-color: rgb(0, 160, 0);
    cursor: pointer;
    border: rgb(0, 160, 0);
}

#parte-grigia {
    width: 90px;
    background-color: #5A5A5A;
    height: 3px;
    border: none;
    margin-right: 30px;
    align-self: center;
}